<p id="notice"><%= notice %></p>

<p>
  <strong>会社名:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>mypage_url:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>ログインID:</strong>
  <%= @post.logid %>
</p>

<p>
  <strong>ログインパスワード:</strong>
  <%= @post.logpass %>
</p>

<p>
  <strong>登録日時:</strong>
  <%= @post.created_at%>
</p>
<%= link_to '編集', edit_post_path(@post) %> |
<%= link_to '一覧へ戻る', posts_path %>
